:host {
  width: 30rem;
  border-radius: 24px;
  overflow: hidden;
}

.user-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #0D4D4D;
  color: #cad2d2;

}

fieldset legend {
  outline: none;
  color: #cad2d2;
  border: 0;
}

mat-form-field {
  width: 100%;
}
