:host {
  flex-grow: 1;
  // border-radius: 16px;
}

h2 {
  margin-bottom: 16px;
  color: #cad2d2;
}

.container-users {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 200px) );
  justify-content: space-between;
  grid-gap: 8px;
}

main {
  background-color: #0D4D4D;
  padding: 16px;
  margin-top: 16px;
  border-radius: 16px;
}
